
@model Web.Models.Users
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录页</title>
    <meta name="description" content="车辆管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="~/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
</head>

<body data-type="login">
    <div class="am-g myapp-login">
        <div class="myapp-login-logo-block  tpl-login-max">
            <div class="myapp-login-logo-text">
                <div class="myapp-login-logo-text">
                    车辆管理系统<span> 登录</span> <i class="am-icon-skyatlas"></i>
                </div>
            </div>
            <div class="login-font">
                <i>登录 </i> 或 <span> 注册</span>
            </div>
            <div class="am-u-sm-10 login-am-center">
                @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post, new { @class = "am-form" }))
                {
                    <fieldset>
                        <div class="am-form-group">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "tpl-form-input", @placeholder = "请输入账号" })
                        </div>
                        <div class="am-form-group">
                            @Html.PasswordFor(x => x.Password, new { @class = "tpl-form-input", @placeholder = "请输入密码" })
                        </div>
                        <p><button type="submit" class="am-btn am-btn-default">登录</button></p>
                    </fieldset>
                }
                </div>
            </div>
        </div>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/amazeui.min.js"></script>
        <script src="~/assets/js/app.js"></script>
    </body>

</html>